name: Generate and Push API Docs
on:
  push:
    branches:
      - main
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout API repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        run: pip install -r requirement.txt # requirement.txt에 필요한 패키지 명시

      - name: Generate OpenAPI Spec
        run: python generate_spec.py
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      
      - name: Clean up cache files
        run: find . -type d -name "__pycache__" -exec rm -r {} +

      - name: Push openapi.json to docs repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.DAJEONG_DOCS_REPO_PRIVATE_KEY }}
        with:
          source-directory: '.'
          destination-github-username: 'bokyoung89'
          destination-repository-name: 'dajeong-docs'
          target-branch: main
          arget-directory: '.' 
          commit-message: 'feat(api): Auto-update API specification'
          file-pattern: 'openapi.json'